@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  --primary-color: #ffd97d;
  --background-color: #e9ecee;
  --secondary-color: #49acb9;
  --text-color: #292f33;
  --secondary-text-color: #292f33be;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--background-color);

  display: grid;
  grid-template-rows: 500px 1fr 50px;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  justify-items: center;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  /* height: 100%; */
  color: var(--text-color);
}

.container {
  display: grid;
  grid-template-columns: 500px 1fr;
  align-items: flex-end;
  justify-items: center;

  gap: 16px;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  max-width: 1100px;
  position: relative;
}

.home-img {
  width: 100%;
  /* z-index: -1; */
}

.container h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 24px;
  font-family: "Montserrat", sans-serif;
}
.logo {
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
}

@media (max-width: 801px) {
  .max-width {
    max-width: 500px !important;
    width: 100%;
  }
  .home-img {
    display: none;
  }
  .cta-container {
    justify-content: flex-start !important;
    align-items: center;
  }
  .container {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .container h1 {
    text-align: center;
  }

  .card-grid {
    grid-template-columns: 1fr !important;
  }

  .cta-container p {
    text-align: center !important;
  }

  .cta-container .cta-align h1 {
    font-size: 32px;
  }
}

@media (max-width: 460px) {
  .cta-container .cta-align h1 {
    font-size: 28px;
  }
  .cta-container .cta-align p {
    font-size: 16.5px;
  }
  .container {
    padding: 40px 20px;
  }
}

@media (max-width: 371px) {
  .cta-container .cta-align h1 {
    font-size: 23px;
  }
  .cta-container .cta-align p {
    font-size: 15.5px;
  }
}

.cta-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* width: 440px; */
  box-sizing: border-box;
}

.cta-align {
  max-width: 650px;
  width: 100%;
}

.cta-align h1 {
  font-size: 40px;
}

.cta-container p {
  font-family: "Lato", sans-serif;
  font-size: 17.5px;
  max-width: 380px;
  text-align: left;
  color: var(--secondary-text-color);
  line-height: 1.5;
  margin-bottom: 60px;
  box-sizing: border-box;
  opacity: 0.7;
}

.cta-button {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  font-weight: bold;

  color: white;
  text-decoration: none;
  background-color: var(--secondary-color);
  padding: 18px 30px;

  border-radius: 100px;
  width: 100%;
  max-width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.1s linear;
}

.cta-button:hover {
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.14);
  background-color: #295559;
  color: white;
}

.page-section {
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-height: 100%; */
}

.max-width {
  max-width: 1100px;
  width: 100%;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  padding: 80px 24px;
  align-items: center;
  justify-items: center;
}

.card {
  width: 100%;
  height: 100%;
  padding: 24px;
  box-sizing: border-box;
  color: var(--text-color);
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.14);
}

.card h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  text-align: center;
  margin: 16px 0;
  max-width: 400px;
}

.card p {
  color: var(--secondary-text-color);
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 15px;
  max-width: 350px;
}

.privacy {
  text-decoration: none;
  color: var(--secondary-color);
}

.secondary-color {
  color: var(--secondary-color) !important;
}
