/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Ubuntu&display=swap");

/* Colors */
:root {
  /* --background-color: #f6f7f9; */
  /* --primary-color: #f39b6d; */

  /* Dark Mode? */
  /* --container-color: #242424; */
  /* --background-color: #292b30; */
  /* --text-color: #e4d8d8; */

  --primary-color: #ffd97d;
  --primary-color-light: #ffe9b6b7;
  --secondary-color: #4f517d;
  --background-color: #e9ecee;
  --container-color: #ffffff;

  --text-color: #524e4d;
  --secondary-text-color: #6e6b6a;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Nunito", sans-serif;
  min-height: 100vh;

  box-sizing: border-box;
}

.back-arrow {
  width: 24px;
}

.step input[type="text"] {
  width: 100%;
  border-radius: 12px;
  height: 48px;
  padding: 1rem 3rem 1rem 1rem;
  /* background-color: #fff9e8; */
  border: 1px solid black;

  box-sizing: border-box;
  margin-bottom: 24px;
}

.step input[type="text"]:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}

.wave {
  position: absolute;
  bottom: 0;
  z-index: -1;
  height: 60%;
  width: 100%;
}

.wave path {
  fill: var(--primary-color);
}

.safe-padding {
  padding: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
/* Container */

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  min-height: 300px;
  max-width: 700px;
  width: 100%;
  /* padding: 32px; */
  /* background-color: #ffffff; */
  background-color: var(--container-color);
  border-radius: 7px;
  color: #454140;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.14);

  transition: all 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: height 1s ease;
  overflow: hidden;
}

.container form {
  padding: 40px;
  width: 100%;
}

/* Progress bar */

#progress-bar {
  height: 7px;
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 7px;
  align-self: flex-start;
  transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

/* Steps */

.step {
  display: none;
  width: 100%;
  box-sizing: border-box;
}

.step i {
  /* font-size: 30px; */
  color: var(--primary-color);
}

.step h2 {
  text-align: center;
  font-size: 22px;
  margin: 24px;
  color: black;
}

.step p {
  text-align: center;
  font-size: 14.5px;
  color: var(--secondary-text-color);
  opacity: 0.7;
  margin-bottom: 24px;
  line-height: 1.2;
  letter-spacing: 1px;
}
.step .continue-button {
  border: none;
  background-color: var(--secondary-color);
  color: white;
}

.step-container {
  max-width: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-button {
  background-color: inherit;
  width: 100%;
  height: 50px;
  border: 1px solid #45414035;
  border-radius: 7px;

  margin-bottom: 24px;

  /* Button Text */
  color: var(--text-color);
  font-size: 14px;
  letter-spacing: 1.1px;
  font-weight: 800;

  cursor: pointer;
  transition: all 0.2s ease;
  /* border: none; */
  outline: none;
}

.form-button:hover {
  /* background-color: var(--primary-color); */
  border-color: var(--primary-color);
}

/* Sliders */
.slider {
  width: 100%;
  appearance: none;
  height: 8px;
  background-color: var(--background-color);
  border-radius: 100px;
}

.step #email {
  margin-bottom: 0;
}

.final-button {
  background-color: black;
  color: white;
  border: none;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin-bottom: 8px !important;
}

.final-button:hover {
  background-color: var(--primary-color);
}

/* For chrome, opera, safari, and edge */
.slider::-webkit-slider-thumb {
  appearance: none;
  width: 26px;
  height: 26px;
  background: var(--secondary-color);
  border-radius: 100px;
  cursor: pointer;
}

/* For firefox */
.slider::-moz-range-thumb {
  appearance: none;
  width: 26px;
  height: 26px;
  background: var(--secondary-color);
  border-radius: 100px;
  cursor: pointer;
}

#electricBillDisplay {
  margin: 32px;
  font-size: 21px;
}

#electricBillSlider {
  margin-bottom: 32px;
}

.step .terms {
  font-size: 10px;
}

.step .final-step {
  margin-bottom: 8px;
}

.step .final-step-sub {
  margin-top: 0px;
}

@media (max-width: 480px) {
  .step h2 {
    margin: 24px 0px;
    /* font-size: 5.3vw; */
  }
}

@media (max-width: 420px) {
  .step h2 {
    font-size: 4.8vw;
  }
}
